.foods-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    /* position:relative; */
}
.foods{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.order-container{
    
    background-color: bisque;
}
@media screen and (max-width: 600px){
    .foods{
        grid-template-columns:1fr;
    }
}