.food {
  border: 2px solid grey;
  border-radius: 5px;
  margin-left: 10px;
}
.food button {
  background-color: gray;
  width: 100%;
  border: none;
  height: 30px;
  border-radius: 5px;
}
.food img {
  width: 250px;
  height: 275px;
}
